* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	width: 100vw;
	height: 100vh;
	font-family: Arial, Helvetica, sans-serif;
	overflow: hidden;
}
main {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: rgb(63, 94, 251);
	background: radial-gradient(
		circle,
		rgba(63, 94, 251, 1) 1%,
		rgba(63, 94, 251, 1) 11%,
		rgba(152, 14, 181, 1) 100%
	);
	overflow: hidden;
}
.timer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60%;
	background-color: #fff;
	border-radius: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 4rem;
	font-weight: bold;
}
.board {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 60%;
	background-color: #fff;
	border-radius: 10px;
	padding: 20px;
}
.tile {
	position: relative;
	width: 20%;
	height: 150px;
	border: solid 3px rgb(63, 94, 251);
	border-radius: 8px;
	margin: 5px 10px;
	overflow: hidden;
	background-position: center;
	background-size: cover;
}
.animation-hover {
	transition: transform 0.5s;
}
.animation-hover:hover {
	cursor: pointer;
	transform: scale(1.05);
}
.placeholder {
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 10;
}
.game-menu {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 10;
	background: linear-gradient(
		45deg,
		rgba(63, 94, 251, 1),
		rgba(152, 14, 181, 1),
		rgb(37, 67, 214) 1%,
		rgba(152, 14, 181, 1),
		rgba(63, 94, 251, 1)
	);
	background-size: 300%;
	animation: bgc-animation 20s infinite alternate;
	transition: transform 1s;
}
.game-menu ul {
	list-style: none;
}
.game-menu ul li button {
	width: 100%;
	padding: 1.1rem;
	font-size: 3.6rem;
	text-align: center;
	color: #fff;
	background: none;
	border: none;
	transition: transform 0.5s;
	font-weight: 300;
	letter-spacing: 1px;
}
.game-menu ul li button:hover {
	cursor: pointer;
	transform: scale(1.05);
}
.hide {
	/* animation: hide 1s both ease; */
	transition: transform 1s;
	display: none;
	transform: translate(100%);
}
.game-end {
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
}
.shadow {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.548);
}
.end-info {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 30%;
	min-height: 40%;
	background-color: #fff;
	z-index: 11;
	border-radius: 15px;
}
.record {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 30%;
	background-color: #fff;
	z-index: 11;
	border-bottom: solid 3px rgb(63, 94, 251);
	border-radius: 15px 15px 0px 0px;
	font-size: 2rem;
	padding: 0.5rem;
}
.record p {
	padding: 0.2rem;
	margin: 0.2rem;
	font-weight: 300;
}
.info-options {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	padding: 1rem;
}
.info-options button {
	font-size: 2rem;
	color: #000;
	background: none;
	border: solid 3px rgb(63, 94, 251);
	border-radius: 10px;
	padding: 1.2rem;
	margin: 0 0.5rem;
}
.info-options button:hover {
	cursor: pointer;
}
.score {
	font-size: 3rem;
	padding: 3rem;
	color: #000;
	font-weight: bold;
}
.score-board {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 11;
	background: linear-gradient(
		45deg,
		rgba(63, 94, 251, 1),
		rgba(152, 14, 181, 1),
		rgb(37, 67, 214) 1%,
		rgba(152, 14, 181, 1),
		rgba(63, 94, 251, 1)
	);
	background-size: 300%;
	transition: transform 1s;
	animation: bgc-animation 20s infinite alternate;
}
.score-board-back {
	position: absolute;
	right: 0;
	top: 0;
	padding: 3rem;
	border: none;
	background: none;
	font-size: 3rem;
	color: #fff;
}
.score-board li {
	font-size: 2.6rem;
	padding: 1rem;
	color: #fff;
	font-weight: bold;
	letter-spacing: 1px;
}
#gold {
	color: #ffd700;
}
#silver {
	color: #c0c0c0;
}
#bronze {
	color: #cd7f32;
}
.score-board-back:hover {
	cursor: pointer;
}

.mobile {
	display: none;
	font-size: 3rem;
	font-weight: bold;
}

@keyframes bgc-animation {
	from {
		background-position: left;
	}
	to {
		background-position: right;
	}
}
@media (orientation: portrait) {
	main {
		display: none;
	}
	.mobile {
		display: block;
		text-align: center;
	}
	body {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media all and (max-width: 700px) {
	.tile {
		height: 50px;
	}
	.score-board-back {
		padding: 1rem;
		font-size: 2rem;
		color: #fff;
	}
	.score-board li {
		font-size: 1.6rem;
		padding: 0.5rem;
	}
	.game-menu ul li button {
		padding: 1.1rem;
		font-size: 2.6rem;
	}
	.timer {
		width: 100%;
		font-size: 3rem;
	}
	.board {
		width: 100%;
	}
}
